#
# crontab(5) for build
#
# TMP=/tmp EDITOR=emacs crontab crontab
#
# $Id: crontab,v 1.1 2004/05/21 18:41:05 mlh-pl_rpm Exp $
#

SHELL=/bin/bash
MAILTO=server-msgs@planet-lab.org

CVSROOT=pup-pl_rpm@cvs.planet-lab.org:/cvs
CVS_RSH=ssh
MODULE=rpm

#
# minute hour day-of-month month day-of-week
#

# install new crontab
0 0 * * *	cvs -d $CVSROOT checkout -p $MODULE/crontab 2>/dev/null | crontab -

# nightly build
17 5 * * *	cvs -d $CVSROOT checkout -p $MODULE/build.sh 2>/dev/null | $SHELL -s
