#
# crontab(5) for build
#
# TMP=/tmp EDITOR=emacs crontab crontab
#
# $Id: crontab,v 1.7 2004/09/25 18:48:47 mlhuang Exp $
#

SHELL=/bin/bash
MAILTO=build@lists.planet-lab.org

CVSROOT=:pserver:anon@build.planet-lab.org:/cvs
MODULE=build

#
# minute hour day-of-month month day-of-week
#

# install new crontab
0 0 * * *	cvs -d $CVSROOT checkout -p $MODULE/crontab 2>/dev/null | crontab -

# nightly build
17 5 * * *	sudo /usr/sbin/chroot /export0/fedora su - build /bin/sh -c "cvs -d $CVSROOT checkout -p $MODULE/build.sh 2>/dev/null | $SHELL -s -- -b $HOME/build/nightly -m $MAILTO -x 7" 2>&1 >/dev/null
